{% extends 'solaris_layout.tmpl' %}

{% load sekizai_tags i18n wiki_tags %}{% load url from future %}

{% block title %}Stablemunder Wiki{% endblock %}

{% block pageheader %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/css/wiki.css" />
{% endblock %}

{% block pagesubmenu2 %}
    <ul class="submenu">
      <li>Stuff </li>
    </ul>
{% endblock %}

{% block pagebody %}
  <div class="body">
  
  <div class="adminbar">
  {% block wiki_search %}
  <form id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
    <div class="input-group">
        <input type="search" class="form-control search-query" name="q" placeholder="{% trans "Search..." %}" />
        <span class="input-group-btn">
           <button class="btn btn-default" type="button">
             <span class="icon-search"></span>
           </button>
        </span>
    </div><!-- /input-group -->
  </form>
  {% endblock %}

  {% block user_bar %}
    {% if user.is_authenticated %} 

    {% endif %}
  {% endblock %}
  
  </div>

 {% block wiki_body %}
  
   {% block wiki_contents %}{% endblock %}

   <footer id="wiki-footer">
     <hr />
     <p>{% blocktrans %}Powered by <a href="http://www.django-wiki.org">django-wiki</a>, an open source application under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license. Let knowledge be the cure.{% endblocktrans %}</p>
    </footer>

  {% endblock %}
  </div>
{% endblock %}