{% extends 'solaris_layout.tmpl' %}

{% load sekizai_tags i18n wiki_tags %}{% load url from future %}

{% block title %}Stablemunder Wiki{% endblock %}

{% block pageheader %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/css/wiki.css" />
{% endblock %}

{% block wiki_site_title %} Solaris - Wiki {% endblock %}

{% block pagesubmenu %}
  {% include "wiki/fragments/wiki_actions.tmpl" %}
{% endblock %}

{% block pagebody %}
  <div class="body">
    
  {% block wiki_search %}
  <div class="wiki-nav-bar">
  <ul class="wiki-breadcrumbs">
    {% for ancestor in urlpath.cached_ancestors %}
      <li><a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a></li>
    {% endfor %}
  </ul>
  {% endblock %}

  {% block wiki_commands %}
  {% endblock %}
  
  </div>

 {% block wiki_body %}
 <div class="article">
   {% block wiki_contents %}{% endblock %}
   <footer id="wiki-footer">
     <hr />
     <p>{% blocktrans %}Powered by <a href="http://www.django-wiki.org">django-wiki</a>, an open source application under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license. Let knowledge be the cure.{% endblocktrans %}</p>
    </footer>
    </div>
 {% endblock %}




  </div>
{% endblock %}