{% extends 'solaris_layout.tmpl' %}

{% load sekizai_tags i18n wiki_tags %}{% load url from future %}

{% block title %}Stablemunder Wiki{% endblock %}

{% block pageheader %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/css/wiki.css" />
{% endblock %}

{% block wiki_site_title %} Solaris - Wiki {% endblock %}

{% block pagesubmenu2 %}
    <ul class="submenu">
      <li>Stuff </li>
    </ul>
{% endblock %}

{% block pagebody %}
  <div class="body">
  
  <div class="adminbar">
  {% block wiki_search %}
  <form id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
    <input type="search" class="search" name="q" placeholder="{% trans "Search..." %}" />
    <button type="button">
      <span class="icon-search"></span>
    </button>
  </form>
  {% endblock %}

  {% block wiki_commands %}
  {% endblock %}
  
  </div>

 {% block wiki_body %}
  
   {% block wiki_contents %}{% endblock %}

 {% endblock %}

   <footer id="wiki-footer">
     <hr />
     <p>{% blocktrans %}Powered by <a href="http://www.django-wiki.org">django-wiki</a>, an open source application under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license. Let knowledge be the cure.{% endblocktrans %}</p>
    </footer>


  </div>
{% endblock %}