{% extends 'wiki/article.html' %}
{% load markitup_tags %}

{% block pageheader %}
  {{ block.super }}
  {% markitup_media %}
{% endblock %}

{% block title %}Editing - {{ article.current_revision.title }}{% endblock %}

{% block wiki_contents_tab %}
   <form class="wiki-edit" method="POST">
     <input type="hidden" name="save" value="1" />
     <input type="hidden" name="preview" value="1" />
     {% with edit_form as form %}
       {% include "wiki/includes/editor.html" %}
     {% endwith %}
     {% markitup_editor edit_form.content.auto_id %}
     <input type="submit" value="Update Page" action="submit"/>   
   </form>
{% endblock %}
