*.pyc
*~
*.swp

#Django Settings
solaris/settings/*
!solaris/settings/base.py
!solaris/settings/__init__.py

#Eclipse settings / project stuff
.project
.pydevproject
.settings

#Environment Specific Helper Scripts
test_anskiere.py
