*.pyc
*~
*.swp
.~lock*
manage.py

#Django Settings
solaris/settings/*
!solaris/settings/base.py
!solaris/settings/__init__.py

#Admin Static Files
solaris/static/admin

#Eclipse settings / project stuff
.project
.pydevproject
.settings

#Rules data / info excluded because it
#may be proprietary
data/excluded

#Old migrations, kept around only as a source to migrate 
#data loading code from.
solaris/warbook/old-migrations

#Scrap utilities are generally not of releasable
#quality and usually have machine specific paths
#embedded in the logic (throwaway code)
solaris/utilities/scrap

#Environment Specific Helper Scripts
test-anskiere.sh
