{% load i18n wiki_tags %}{% load url from future %}
<div class="submenu">

  <div class="actionbar">
    {% block wiki-actions-list %} {% endblock %}
    <hr class="action-break" />

    <ul class="wiki-breadcrumbs">
      {% for ancestor in urlpath.cached_ancestors %}
        <li><em class="bc-divider">&#x25B6;</em><a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a></li>
      {% endfor %}
      {% if article.current_revision.title %}
        <li><em class="bc-divider">&#x25B6;</em><span class="bc-current">{{article.current_revision.title}}</span></li>
        <li class="children">
          <em class="bc-children">&#x25BC;</em>
          <ul class="bc-childmenu">
            {% for child in children_slice %}
              <li><a href="{% url 'wiki:get' path=child.path %}">{{ child.article.current_revision.title }}</a></li>
            {% endfor %}
            {% if children_slice_more %}
              <li><a href="{% url 'wiki:dir' path=urlpath.path %}">... More articles</a></li>
            {% endif %}
            {% if article|can_write:user %}
              <li><a href="{% url 'wiki:create' path=urlpath.path %}">Add Page</a></li>
            {% endif %}
          </ul>
        </li>
      {% endif %}
    </ul>

    <form id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
      <button type="button">
        <span class="icon-search"></span>
      </button>
      
      <input type="search" class="search" name="q" placeholder="{% trans "Search..." %}" />
    </form>
  </div>
  
 
</div>

<div class="spacer"></div>
