{% load mech_items %}

{% block crit-table %}
<div class="mech-criticals-table" id="criticals_{{object.location_code}}">
  <div class="mech-section-header mech-criticals-header"> {{ object.location_name }} </div>
  {% for item in object.get_criticals %}
    {% if forloop.counter0 == 6 %} <hr/> {% endif %}
    
      <div class="mech-criticals-slot">
        <span class="mech-criticals_slotnum">{% cycle '1' '2' '3' '4' '5' '6' %}</span>
      {% if item %}
        {% crit_item %}
      {% else %}
        <span class="mech-criticals-item item-noitem">-- No Item --</span>
      {% endif %}
      </div>
  {% endfor %}
</div>
{% endblock %}
