{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body"><div class="tech_tier{{technology.tier}}">
  <h1>{{mech.mech_name}} {{mech.mech_code}}</h1>
  <p>
    {{mech.tonnage}} Tons, {{mech.move_walk}}/{{mech.move_run}}/{{mech.move_jump}}
    <em>BV:</em> {{mech.bv_value}}
    <em>Cost:</em> {{mech.credit_value}}
  </p>

  <div class="{{mech.motive_type}}_armour">
    {% for location in mech.locations.all %}
      <div class="armour_location" id="armour_{{location.location_code}}">
        <div class="armour_header">{{location.location_code}}</div>
        <div class="armour_armour">A<span>{{location.armour}}</span></div>
        {% if location.structure %}
          <div class="armour_structure">S<span>{{location.structure}}</span></div>
        {% endif %} 
      </div>
    {% endfor %}
  
  <div class="${mech.motive_type}_criticals">
    {% for row in crit_rows %}
    <div class="critical_group">
      {% for location in row %}
        {% if loc in crit_tables.keys %}
          {% crit_tables[loc].render %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
