{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body">
  <h1>{{ chassis }}</h1>
    <ul class="chit-list">
  {% for mech in object_list %}
      {% include "warbook/fragments/mech_chit.html" %}
  {% endfor %}
    </ul>
</div>
{% endblock %}
