{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body"><div class="tech_tier{{technology.tier}}">
  <h1>{{mech.mech_name}} {{mech.mech_code}}</h1>
  <p>
    {{mech.tonnage}} Tons, {{mech.move_walk}}/{{mech.move_run}}/{{mech.move_jump}}
    <em>BV:</em> {{mech.bv_value}}
    <em>Cost:</em> {{mech.credit_value}}
  </p>

  <div class=""></div>
</div>
{% endblock %}
