{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body">
  <div class="discipline_blurb">
    <h1>{{object.name}}</h1>
    <p>{{object.blurb}}</p>
  </div>
  <table id="discipline-list">
  {% for subname, subtable in table.items %}
    <tr class="discipline-subtable {% cycle 'odd' 'even' as rowclass%}">
      <td class="roll-table" rowspan="{{subtable | length}}">{{subname}}
      {% for skill in subtable %}
        {% if not forloop.first %}<tr class="{{rowclass}}">{% endif %}
        <td class="roll-item">{{skill.item}}</td>
        <td class="skill">{{skill.name}}</td>
        <td class="skill-description">{{skill.description}}</td>
        {% if object.discipline_type == 'T' %}<td class="skill-bv">{{skill.bv_text}}</td>{% endif %}
        </tr>
       {% endfor %}
  {% endfor %}
  </table>
</div>
{% endblock %}
