{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body"><div class="discipline_blurb">
  <h1>{{object.name}}</h1>
  <p>{{object.blurb}}</p>
  {% for ability in object.traits.all %}
    <div class="ability">
      <h2>{{ability.name}}</h2>
      <p class="abilityText">{{ability.description}}</p>
      <p class="bv">{{ability.bv_text}}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
