{% extends 'solaris_layout.tmpl' %}

{% block pageheader %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/css/techtree.css" />
{% endblock %}
 
{% block pagebody %}
<div class="body">
    <div class="techlist">
    {% for tier in techtree %}
      <div class="tech_tier{{tier.number}}">
      {% for tech in tier.techs %}
        <div class="tech">
          <span><a href="{{tech.get_absolute_url}}">{{tech.name}}</a></span>
          <span class="roll"> {{tech.base_difficulty }} </span>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
