{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body"><div class="tech_tier{{technology.tier}}">
  <h1>{{technology.name}}</h1>
  <div class="tech_desc">
    {{ object.description | safe }}
  </div>
  <div class="tech_rolls">
    <p>Base Difficulty: {{ object.base_difficulty }}</p>
    <ul>
    {% for modifier in object.modifiers.all %}
      <li><em>{{modifier.modifier}}</em> {{modifier.condition}}</li>
    {% endfor %}  
    </ul>
  </div>
</div></div>
{% endblock %}
