{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body">
  {% for category in techtree %}
    <div class="techlist">
    <h2> {{category.name}} </h2>
    {% for tier in category.tiers %}
      <div class="tech_tier{{tier.number}}">
      {% for tech in tier.techs %}
        <div class="tech">
          <span><a href="/reference/techtree/{{tech.urlname}}">{{tech.name}}</a></span>
          <span class="roll"> {{tech.base_difficulty }} </span>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
    </div>  
  {% endfor %}
</div>
{% endblock %}
