div.stable_ledger {
	float: none;
    width: 600px;	
    margin-left : auto;
    margin-right : auto;
    
    height:100%;
    overflow:hidden;
}

div.balance {
	width: 100%;
	display: block;
	float: none;
	height: 48px;
	
	margin-top: 6px;
	margin-bottom: 6px;
	
    background-color : #AAAAAA;
}

div.balance div.ledger_desc, div.balance div.ledger_value {
    display: inline-block;
    line-height: 48px;
}

form.ledger-form {
    height: 100%;
}


form.ledger-form input {    
    vertical-align: middle;
}


div.line_display div.ledger_add input
, form.ledger-form div.ledger_add input
, form.ledger-form div.ledger_edit input {
    margin-left: 0.5em;
    border: none;
    background: transparent;
    
    height: 100%;
    font-size: 120%;
    font-weight: bold;
    color: #262233;
    
    text-shadow: 2px 2px 4px #888888; 
}

div.line_display div.ledger_add input {
    visibility: hidden;
}

div.line_display:hover div.ledger_add input {
    visibility: visible;
}

div.subheader {
	display: block;
	float: none;
	height: 38px;
	
    background-color : #BBBBBB;
    
	margin-left: 20px;
	
	margin-top: 4px;
	margin-bottom: 4px;
}

div.subheader div.ledger_desc, div.subheader div.ledger_value {
    line-height: 38px;
    display: inline-block;
}



div.lineitem, form.lineitem {
	display: block;
	float: none;
	
	margin-left: 40px;
	
	margin-top: 4px;
	margin-bottom: 4px;
	
	position: relative;	
	
	background-color : #CCCCCC;
}

div.lineitem div, form.lineitem div {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.lineitem div.line_update {
    display: none;
}

div.ledger_desc {
	width: 24em;
}


div.ledger_value {
	float: right;
	width: 100px;
	margin-right: 2em;
	
    text-align: left;
    vertical-align: middle;
}

div.ledger_value input {
	align: middle;
	width: 90%;
}

div.lineitem div.ledger_edit, div.line-item div.ledger_add {
    height: 100%;
    width: 1em;
    text-align: center;
    vertical-align: middle;
}

div.lineitem input, div.lineitem p {
    vertical-align: middle;
    
    height: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

div.lineitem:hover {
	background-color : #AAAADD;
	border-color : #4444DD;
	border-width : thin;
}

div.lineitem div.line_display, div.lineitem div.line_update {
    width: 100%
}

div.line_update {
	display:none;
}

form.linedelete {
	position: absolute;
	display: none;
	right: 0px;
	bottom: 0px;
}

div.lineitem:hover form.linedelete {
	display: block;
}

form.linedelete input {
  margin: 0px;
  padding: 0px;  

  width: 32px;
  
  vertical-align: middle;
  background: transparent url('/static/images/icons/delete.png') no-repeat center top;
  border: none;
  
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}


div h1, div h2, div h3, div p {
	margin: auto;
	
	padding: 0px;
	
	text-align: left;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
}

