div#stable-ledger {
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2em;

    display: block;
}

/*******************************************
 * Header and Footer
 *******************************************/

div#stable-ledger-header, div#stable-ledger-footer {
    width: 100%;
    display: block;
    float: none;
    
    margin-top: 6px;
    border-bottom: 4px double #000000;
}

div#stable-ledger-header span, div#stable-ledger-footer span {
    display: inline-block;
}

div#stable-ledger-header span {
    margin: auto;
    height: 100%;

    font-weight: bold;
    font-size: 160%;
   
    margin-bottom: 0.2em; 
    padding: 0px;
    
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

/*******************************************
 * Subheadings
 *******************************************/

div.ledger-subheader {
    display: block;
    float: none;
   
    margin: 0.6em 0em 0.2em 1em;
    padding-bottom: 0.1em; 
    border-bottom: 2px solid #000000; 
}

div.ledger-subheader span.ledger-desc { 
    display: inline-block;
    font-size: 110%;
    font-weight: bold;
}

/*******************************************
 * Line Items
 *******************************************/

.ledger-item  {
    display: block;
    margin-left: 40px;
     
    float: none;
    position: relative;

    border-top: 1px dashed #888888;	
}

div.ledger-subheader + .ledger-item {
    border-top: none;
}

.ledger-item span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.ledger-item div.line_update {
    display: none;
}


div.ledger-item input.ledger-edit {
    visibility: hidden;
}

div.ledger-item-edit:hover {
    background-color : #AAAADD;
    border-color : #4444DD;
    border-width : thin;
}

div.ledger-item-edit:hover input.ledger-edit {
    visibility: visible;
}

span.ledger-desc {
    width: 24em;
}

span.ledger-value {
    float: right;
    width: 100px;
    margin-right: 2em;
    
    text-align: left;
    vertical-align: middle;
}

div.ledger-item-summary {
    border-top: 4px double #000000;
    border-bottom: 1px solid #000000;

    padding: 0.1em 0em;
    margin-bottom: 0.4em;
}




form.ledger-form {
    height: 100%;
}


form.ledger-form input {    
    vertical-align: middle;
}



span.ledger-value input {
    align: middle;
    width: 90%;
}

.ledger-item span.ledger-action { 
    height: 100%;
    width: 2em;
    text-align: center;
    vertical-align: middle;
}

.ledger-item input, .ledger-item p {
    vertical-align: middle;
    
    height: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

div.ledger-view-display, div.ledger-view-update {
    width: 100%
}

form.ledger-item-edit {
    display:none;
    margin-left: 0px;
}

form.linedelete {
    position: absolute;
    display: none;
    right: 0px;
    bottom: 0px;
}

div.ledger-item-edit:hover form.linedelete {
    display: block;
}

form.linedelete input {
  margin: 0px;
  padding: 0px;  

  width: 32px;
  
  vertical-align: middle;
  background: transparent url('/static/images/icons/delete.png') no-repeat center top;
  border: none;
  
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}


div h1, div h2, div h3, div p {
    margin: auto;
    height: 100%;
    
    padding: 0px;
    
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

