div.content {
  position: relative;
}

ul.loadouts {
  background-color: #AAAAAA;
  height: 28px;
}

ul.loadouts li, ul.loadouts li a {
  display:block;
  float: left;
  background-color: #CCCCCC;
  border: 1px solid black;
  vertical-align: middle;

  font-size: small;

  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;

  position: relative;
  top: 2px; 
  height: 22px;
}

ul.loadouts li a {
  padding: 0px;
  margin: 0px;
  top: 0px;

  border: 0px;
}


ul.loadouts li.selected {
  background-color: #660000;
  color: #FFFFFF;  
}

div.mech-armour {
  position: relative;
  width: 400px;
  height: 300px;

  display:block;
  
  margin-left: auto;
  margin-right: auto; 
}

div.mech-repair.mech-armour {
  width: 500px;
}

div.mech-armour-location {
  position: absolute;
  width: 40px;

  display:block;
  
  font-size: small;
  font-weight: bold;

  border: 1px solid;
  border-color: #000000;
  padding-left: 2px;
  padding-right: 2px;
}

.mech-repair div.mech-armour-location {
	width: 60px;
}

.mech-section-row {
	display: flex;
	justify-content: space-between;
	padding: 0.1em 0px;
	align-items: center;
}

div.mech-section-header {
  background: #BBBBBB;
  font-weight: bold;
  text-align: center;
  font-size: normal;
  
  margin-left: -2px;
  margin-right: -2px;
}

div.mech-armour-location span {
	font-weight: normal;
}

input.mech-armour-input {
	font-weight: normal;
	
	width: 40px;
}

div#armour_hd {
  left: 100px;
  top: 30px;
}

div#armour_ct {
  left: 100px;
  top: 100px;
}

div#armour_rt {
  left: 150px;
  top: 120px;
}

div#armour_lt {
  left: 50px;
  top: 120px;
}

div#armour_ra {
  left: 200px;
  top:  140px;
}

div#armour_la {
  left:  0px;
  top: 140px;
}

div#armour_rl {
  left: 160px;
  top: 200px;
}

div#armour_ll {
  left: 40px;
  top: 200px;
}

div#armour_lrl {
  left: 10px;
  top: 200px;
}

div#armour_lfl {
  left: 70px;
  top: 200px;
}

div#armour_rfl {
  left:130px;
  top: 200px;
}

div#armour_rrl {
  left:190px;
  top: 200px;
}

div#armour_ll {
  left: 40px;
  top: 200px;
}

div#armour_rct {
  left: 330px;
  top: 100px;
}

div#armour_rrt {
  left: 380px;
  top: 120px;
}

div#armour_rlt {
  left: 280px;
  top: 120px;
}


.mech-repair div#armour_rt {
	left: 180px;
}

.mech-repair div#armour_lt {
  left: 20px;
}

.mech-repair div#armour_ra {
  left: 260px;
}

.mech-repair div#armour_la {
  left: -60px;
}

.mech-repair div#armour_rlt {
  left: 370px;
}

.mech-repair div#armour_rct {
  left: 450px;
}

.mech-repair div#armour_rrt {
  left: 530px;
}

div#armour_-- {
  display: none;
}

div.mech-criticals {
  position: relative;
  width: 900px;
  height: 100%;

  display:block;
 
  margin-left: auto;
  margin-right: auto;
}

div.mech-critical-row {
  margin-left: auto;
  margin-right: auto;

  width: auto;
  display: table;
}

div.mech-criticals-table {
  width: 150px;

  position: relative;
  display: inline-block;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  
  padding-left: 2px;
  padding-right: 2px;
  
  border: 1px solid;
  border-color: #000000;
}

div.mech-criticals-slot {
   height: 18px;
   display: flex;
   align-items: center;
}

span.mech-criticals-item  {
  text-align: center;
  
  font-size: x-small;
  
  flex-grow: 1;
  
  text-wrap: none;
  overflow: hidden;
}

.item-crittable {
  font-weight: bold;
  
}
.item-noncrittable, .item-noitem {
  color: #aaaaaa;
  text-align: center;
}

.mech-repair  .item-crittable:hover {
	background-color: #FF8888;
	border-radius: 3px;
}

.item-critted {
	text-decoration: line-through;
}


