/* 
  Basic form formatting and CSS 
*/
form div {
    overflow:hidden
}

form input {
  margin-left: 0.5em;
  border: 1px solid;
}

/*
  Basic Field Layout
*/
div.field_basic {
  border-width: 0px;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  
  position: relative;  
}

div.field_error, div.form_error {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  
  position: relative;  
    
  font-weight: bold;
  background-color: #F08888;
}

div.field_info {
  border-width: 1px;
  border-style: solid;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  
  position: relative;  
    
  font-weight: bold;
  background-color: #8888F0;
}

div.field_basic label, div.field_error label, div.field_info label {
  width: 6em;
  margin-right: 0.5em;
  float: left;
  text-align: right;
  display: block;
}

div.field_basic div, div.field_basic span
, div.field_error div, div.field_error span  
, div.field_info div, div.field_info span 
{
  float: left;
  display: inline-block;
} 

div.field_basic div.field_label, div.field_error div.field_label, div.field_info div.field_label {
  width: 8em;
}

div.field_basic div.field_input, div.field_error div.field_input, div.field_info div.field_input {
  width: 24em;
  width: calc(80% - 8em);
}

/*
  Columnar Field Layout
*/
div.form_column {
	width: 200px;
	display: inline-block;
	float: left;
}

div.form_column select, div.form_column input {
	width: 180px;
}

div.short_column {
	width: 80px;
	display: inline-block;
	float: left;
}

div.short_column select, div.short_column input {
    width: 60px;	
}

div.column_field_error {	
    border-width: 1px;
    border-style: solid;   
    font-weight: bold;
    background-color: #8888F0;	
}

div.column_field_info {	
    border-width: 1px;
    border-style: solid;   
    font-weight: bold;
    background-color: #8888F0;	
}

div.column_field_basic div, div.column_field_basic span, div.column_field_error div, div.column_field_error span {
	align: left;
	float: none;
}

/* Template Forms */
div.template_form {
    display: none;
}
