body {
  background-color: #444444;
}

div.title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;  
  color: #FFFF22;
  
  background-color: #000000;
}

div.title h1 {
  position: absolute;
  top: 40px;
  left: 380px;
  color: #FFFF22;
  
  font-family: arial,sans-serif;   
}

div.title h2 {
  position: absolute;
  top: 80px;
  left: 380px;
  color: #BB8800;

  font-family: arial,sans-serif;   
}


img#logo {
  padding: 0px 4px 4px 0px
}

div.toolbar {
  position: absolute;
  top: 250px;
  left: 60px;
  width: 100%;
    
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #444444;  
  
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
}

div.toolbar span {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right:6px;
  
  margin: 0px;


  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #444444; 
  
  background-color: #BBBBBB;
}

div.toolbar span#selected {
  margin:0px;
 
  background-color: #660000;
  color: #FFFFFF;  
}

div.body {
  position: absolute;
  left: 60px;
  right: 60px;
  top: 280px;
  padding: 8px;
  
  background-color: #DDDDDD;
}

.tech_tier0, .tech_tier1, .tech_tier2, .tech_tier3 {
  position: relative;
  left: 40px;
  right: 40px;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  width: 80%
  }

.tech_desc, .tech_rolls {
  padding: 5px 5px 5px 5px;
  margin: 0px 10px 10px 10px;
}

.tech_tier0 {
   background-color: #888888;
}

.tech_tier0 div, .tech_tier0 span {
   background-color: #F0F0F0;
}

.tech_tier1 {
  background-color: #22AA22;
}

.tech_tier1 div, .tech_tier1 span {
   background-color: #88F088;
}

.tech_tier2 {
  background-color: #AAAA22;
}

.tech_tier2 div, .tech_tier2 span {
   background-color: #F0F088;
}

.tech_tier3 {
  background-color: #AA2222;
}

.tech_tier3 div, .tech_tier3 span {
   background-color: #F08888;
}