body {
  background-color: #444444;
}


/****************************************
 * Title Layout 
 ****************************************/

body {
  margin: 0px;
  padding: 0px; 

}

div.title {
  top: 0px;
  left: 0px;
  width: 100%;
  
  padding: 0px;
  margin: 0px;
 
  background-color: #262233;
  
  border-bottom: 2px solid #BBBBBB;
  box-shadow: 2px 2px 4px #000000;
}

img#logo {
  position: relative;
  padding: 0px 4px 4px 0px;
  margin: 1em;
  display: inline-block;
}

div.title span.title-menu {
  display: inline-block;
  vertical-align: top;
  
  font-family: arial,sans-serif;   
  padding: 4px;
}

span.title-menu h1 {
  color: #FFFF22;
  
  font-family: arial,sans-serif;   

  margin-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 0px;
  padding: 0px;
}

span.title-menu h2 {
  color: #BB8800;

  font-family: arial,sans-serif;   

  margin-left: 10px;
  margin-top: 0.2em;
  padding: 0px;
}

div.menu-area {
  border-width: 2px;
  border-style: solid;
  border-color: #BBBBBB;
  border-radius: 5px;
  
  display: inline-block;
  
  list-style-type:none;

  padding: 4px;
  
  background-color: #666666;
}

ul.menu, div.toolbar {
  position: relative;
  display: inline-block;

  vertical-align: top;

  list-style: none;
  
  padding: 0px;
  margin: 0px;
  
  font-family: arial,sans-serif;
  font-size: 12;
}

ul.menu-main {
  width: 60%;
}

ul.menu-login {
  width: 35%;
}

div.toolbar span, ul.menu li {
  text-align: center;
  vertical-align: middle;

  float: left;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #000000, inset 0 0 12px #000000;

  color: #FFFFFF;

  margin: 2px;
    
  background-color: #664444;
}

ul.menu li.login {
  float: right;
}

ul.menu li a {  
  vertical-align: middle;
 
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
  color: #BBBBBB;

  padding: 0.1em;
 
  display: block;

  width: 160px; 
  height: 18px;
}

ul.menu li.selected { 
  background-color: #AA0000;
  color: #FFFFFF;  
  box-shadow: 2px 2px 4px #000000, inset 0 0 12px #220000;
}

ul.menu li.selected:hover {
  background-color: #771111;
} 

ul.menu li.selected a:link {
  color: #FFFFFF;
}

ul.menu li.selected a:visited {
  color: #FFFFFF;
}

ul.menu li.selected a:hover {
  color: #FFFFFF;
}

/****************************************
 * Tabbed Submenues
 ****************************************/

ul.submenu, div.submenu {
  width: 100%; 

  background-color: #444444;
  overflow: visible;

  margin: 0px;
  padding-left: 0.5em;
}

ul.submenu li, ul.wiki-submenu li {
  float: left;
  text-align: center;
  vertical-align: middle;

  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;

  margin-bottom: 0px; 
  margin-left: 0.5em;


  border: 1px solid #000000;
  border-radius: 3px 3px 0px 0px;
  border-bottom: none;
  box-shadow: inset 0 -4px 10px -4px #000000;
  // 2px 0px 4px #000000;
    
  background-color: #BBBBBB;
}

ul.submenu li a, ul.wiki-submenu li a {  
  display:block;
  vertical-align: middle;

  color: #000000;

  width: 120px; 
  height: 18px;
}

ul.submenu li#selected, ul.wiki-submenu li#selected {  
  background-color: #DDDDDD;
  box-shadow: none;

  display:block;
  vertical-align: middle;
  color: #222222;

  text-decoration: none;
  font-size: 120%;
  font-weight: bold;

  padding: 0.1em;
  padding-bottom: -2px;
  margin-bottom: -3px;

  z-index: 2;
  width: 120px; 
  height: 23px;
}

/****************************************
 * Action Bar
 ****************************************/
ul.actionbar {
  border-width: 2px;
  border-style: solid;
  border-color: #BBBBBB;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #000000;

  text-align: middle;  
  display: block;

  height: 1.7em;
  
  list-style-type:none;

  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  
  background-color: #262233;
}

ul.actionbar li {
    display: inline-block;
    text-color: #BBBBBB;
    padding: 0.1em;

    font-family: arial,sans-serif;
    font-weight: bold;
    border-right: 1px solid #BBBBBB;
}

ul.actionbar li.right {
    float: right;
    border-left: 1px solid #BBBBBB;
    border-right: none;
}

ul.actionbar li a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    width: 8em;
    margin: 0.15em;
    margin-left: 0.3em; 
    margin-right: 0.3em; 

    border-radius: 3px;
}


ul.actionbar li a:link {
  color: #BBBBBB;
}

ul.actionbar li a:visited {
  color: #BBBBBB;
}

ul.actionbar li a:hover {
  color: #FFFFFF;
  background-color: #222288;
  border: none;
}

/****************************************
 * Main Page Body
 ****************************************/

div.content {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  
  font-family: arial,sans-serif;   
}

div.body {
  padding: 1em;
  border: 2px solid #222633;
  border-radius: 5px;
  background-color: #DDDDDD;

  box-shadow: 2px 2px 4px #000000;
}

/****************************************
 * News
 ****************************************/

div.news-item {
  position: relative;
  margin: auto;
  width: 80%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 1em;

  border: 2px solid #222633;
  border-radius: 5px;
  background-color: #DDDDDD;
  box-shadow: 2px 2px 4px #000000;
}

div.news-item div.header {
  padding: 0.1em;
}

div.news-item div.header span.title {
  font-weight: bold;
  display: inline-block;
  width: 70%;
}

div.news-item div.header span.byline {
  margin-right: 0.2em;
  margin-left: auto;
  color: #222222;
  font-size: 80%;

  display: inline-block;
  text-align: right;
  vertical-align: middle;

  padding: 0.1em;
  width: 25%;
  border-left: 1px solid #222633;
}

div.news div.content {
  padding: 5px 5px 5px 5px;
  margin: 0px 10px 10px 10px;
  background-color: #F0F0F0;
}

div.news_form input {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid;
  width: 36em;
}

table tr td {
  padding-left: 8px;
  padding-right: 8px;
}

table tr.header {
  font-weight: bold;
  background-color: #BBBBBB;
}

table.pilots tr.header td {
  width: 60px;
}

table.pilots tr.header td.wounds {
  width: 70px;
}

table.pilots tr.header td.experience {
  width: 100px;
}

table.pilots tr.header td.subheader {
  width: 20px;
}

table.pilots tr.header td.name, table.pilots tr.header td.talents {
  width: 200px;
}

table.pilots tr.odd {
  background-color: #C8C8FF;
  font-size : small;
}

table.pilots tr.even {
  background-color: #B0B0FF;
  font-size : small;
}

dl.skill-list {
   margin-left: 1em;
}

dt.ability {
  font-size : 120%;
  font-weight: bold;
}
