body {
  background-color: #444444;
}


/****************************************
 * Title Layout 
 ****************************************/

body {
  margin: 0px;
  padding: 0px; 

}

div.title {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;  
 
  background-color: #000000;
}

img#logo {
  position: relative;
  padding: 0px 4px 4px 0px;
  display: inline;
  float: left;
}

div.title div.title-menu {
  position: relative;
  margin-left: 375px;
  height 250px;
  
  font-family: arial,sans-serif;   
  padding: 4px;
}

div.title-menu h1 {
  color: #FFFF22;
  
  font-family: arial,sans-serif;   

  margin-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 0px;
  padding: 0px;
}

div.title-menu h2 {
  color: #BB8800;

  font-family: arial,sans-serif;   

  margin-left: 10px;
  margin-top: 0.2em;
  padding: 0px;
}

div.menu-area {
  border-width: 2px;
  border-style: solid;
  border-color: #BBBBBB;
  border-radius: 5px;
  
  list-style-type:none;

  padding: 4px;
  
  background-color: #666666;
}

ul.menu, div.toolbar {
  position: relative;
  display: inline-block;

  vertical-align: top;

  list-style: none;
  
  padding: 0px;
  margin: 0px;
  
  font-family: arial,sans-serif;
  font-size: 12;
}

ul.menu-main {
  width: 60%;
}

ul.menu-login {
  width: 35%;
}

div.toolbar span, ul.menu li {
  text-align: center;
  vertical-align: middle;

  float: left;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #000000;

  margin: 2px;
    
  background-color: #BBBBBB;
}

ul.menu li.login {
  float: right;
}

ul.menu li a {  
  vertical-align: middle;
 
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;

  padding: 0.1em;
 
  display: block;

  width: 160px; 
  height: 18px;
}

ul.menu li.selected { 
  background-color: #660000;
  color: #FFFFFF;  
}

ul.menu li.selected:hover {
  background-color: #771111;
} 

ul.menu li.selected a:link {
  color: #FFFFFF;
}

ul.menu li.selected a:visited {
  color: #CCCCCC;
}

ul.menu li.selected a:hover {
  color: #FFFFFF;
}

ul.submenu, div.submenu {
  width: 100%; 

  background-color: #444444;

  margin: 0px;
}

ul.submenu li, ul.wiki-submenu li {
  float: left;
  text-align: center;
  vertical-align: middle;

  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px; 
 
  margin-left: 0.5em;

  border: 1px solid #000000;
  border-radius: 3px 3px 0px 0px;
  border-bottom: none;
  box-shadow: inset 0 -4px 10px -4px #000000;
  // 2px 0px 4px #000000;
    
  background-color: #BBBBBB;
}

ul.submenu li a, ul.wiki-submenu li a {  
  display:block;
  vertical-align: middle;

  width: 120px; 
  height: 18px;
}

ul.submenu li#selected, ul.wiki-submenu li#selected {  
  background-color: #DDDDDD;
  box-shadow: none;

  display:block;
  vertical-align: middle;

  text-decoration: none;
  font-size: 120%;
  font-weight: bold;

  padding: 0.1em;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 120px; 
  height: 23px;
}

div.toolbar span.login {
  float: right;
}

div.content {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  
  font-family: arial,sans-serif;   
  background-color: #DDDDDD;
}

div.body {
  padding: 1em;
}

div.news {
  position: relative;
  left: 40px;
  right: 40px;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  width: 80%;
  background-color: #888888;
}

div.news div.header {
  padding: 5px 5px 5px 5px;
  margin: 0px 10px 10px 10px;
  background-color: #CCCCCC;
}

div.news div.header span.title {
  font-weight: bold;
}

div.news div.header span.byline {
  float: right;
}

div.news div.content {
  padding: 5px 5px 5px 5px;
  margin: 0px 10px 10px 10px;
  background-color: #F0F0F0;
}

div.adminbar {
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
      
  background-color: #888888;
  text-align: right;
  font-size: small;
  
  margin: -8px;
  padding: 2px;
}


div.adminbar a.post {
  text-align: right;
  font-size: small;
  
  padding-left: 8px;
  padding-right: 8px;
}

div.news_form input {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid;
  width: 36em;
}

table tr td {
  padding-left: 8px;
  padding-right: 8px;
}

table tr.header {
  font-weight: bold;
  background-color: #BBBBBB;
}

table.pilots tr.header td {
  width: 60px;
}

table.pilots tr.header td.wounds {
  width: 70px;
}

table.pilots tr.header td.experience {
  width: 100px;
}

table.pilots tr.header td.subheader {
  width: 20px;
}

table.pilots tr.header td.name, table.pilots tr.header td.talents {
  width: 200px;
}

table.pilots tr.odd {
  background-color: #C8C8FF;
  font-size : small;
}

table.pilots tr.even {
  background-color: #B0B0FF;
  font-size : small;
}

dl.skill-list {
   margin-left: 1em;
}

dt.ability {
  font-size : 120%;
  font-weight: bold;
}
