

div.article {
	margin-top: 60px;
}

div.article h1 {
font-size: 3em;
line-height: 1em;
margin: 0;
padding: 0 0 0.5em;
}


form#wiki-search-form {
	text-align: left;
	float: none;
}

form#wiki-search-form button {
	width: 20px;
	height: 20px;	
	
	margin: 0px;
	margin-botton: 4px;
	padding: 0px;
	
	vericlal-align: middle;
}

form#wiki-search-form button span.icon-search {
	content:url(/static/images/icons/search.png);
	
	width: 20px;
	height: 20px;
}