div.article {
  margin-top: 60px;
}

div.article h1 {
  font-size: 170%;
  line-height: 1em;
  margin: 0;
  padding: 0 0 0.5em;
}

div.article h2 {
  font-size: 140%;
  line-height: 1em;
  margin: 0;
  padding: 0 0 0.5em;
}

div.spacer {
  position: static;
  height: 12px;
  padding: 0px;
}

div.wiki-nav-bar, div.wiki-actions-bar {
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  
  height: 30px;
      
  background-color: #888888;
  font-size: small;
  
  margin: -8px;
  padding: 2px;
}

ul.wiki-submenu {
  border-width: 4px;
  border-style: solid;
  border-color: #888888;  
  list-style-type:none;
  
  background-color: #888888;
  
  padding: 0px;
  margin: 0px;
  
  font-family: arial,sans-serif;
  font-size: small;
  
  float: left;
  width: 640px;  
}

form.wiki-edit, form.wiki-create {
  padding-left: 20px;
}

form.wiki-edit > div, form.wiki-create > div {
  margin-bottom: 12px;
}

form.wiki-edit div.wiki-label, form.wiki-create div.wiki-label {
  float: left;
  width: 8em;
}

span.input-group-addon {
   font-weight: bold;
   padding-right: 0.2em;
   display: inline-block;  
}

form.wiki-edit div.wiki-control, form.wiki-create div.wiki-control {
  left: 100px;
  padding-left: 0px;
  width: calc(80% - 8em);
}

textarea#id_content {
  width: 100%;
  height: 400px;
}

form.wiki-edit div.wiki-control *, form.wiki-create div.wiki-control *  {
  margin-left: 0px;
  display: inline-block;
}


input#id_summary, input#id_title, div.input-group {
  float: left;
  width: 270px;
}

input#id_slug {
  width: auto;
  overflow: hidden;
}

p.help-block {
  font-size: 80%;
  width: 24em;
  padding-left: 1em;
  margin: 0px;
}

a.btn, button.btn {
  width: 8em;
  display: inline-block;
  margin: 0.4em;
  padding: 0.1em;
  
  border: 1px solid #262233;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #000000;
  
  background: #AAAAAA;
  color: #262233;
  vertical-align: middle;
  font-family: arial,sans-serif;   
  text-align: center;
  text-decoration: none;  
}

/* Hide a few fields I have no use for */
span.asteriskField {
  visibility: hidden;
  display: none;
  float: none;
  position: absolute;
}
