

div.article {
	margin-top: 60px;
}

div.article h1 {
  font-size: 170%;
  line-height: 1em;
  margin: 0;
  padding: 0 0 0.5em;
}

div.article h2 {
  font-size: 140%;
  line-height: 1em;
  margin: 0;
  padding: 0 0 0.5em;
}

div.spacer {
	position: static;
	height: 12px;
	padding: 0px;
}

div.wiki-nav-bar, div.wiki-actions-bar {
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  
  height: 30px;
      
  background-color: #888888;
  font-size: small;
  
  margin: -8px;
  padding: 2px;
}

ul.wiki-submenu {
  border-width: 4px;
  border-style: solid;
  border-color: #888888;  
  list-style-type:none;
  
  background-color: #888888;
  
  padding: 0px;
  margin: 0px;
  
  font-family: arial,sans-serif;
  font-size: small;
  
  float: left;
  width: 640px;	
}

ul.wiki-breadcrumbs {
	margin: 4px;
	padding: 4px;
	width: 80%;
	
	float: left;
}


ul.wiki-breadcrumbs li a {
	background-color: #BBBBBB;
	
	margin: 4px;
	
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	
}

ul.wiki-breadcrumbs li::after {
   margin: 0px;
   padding: 0px;
	
   content: ">"
}


ul.wiki-breadcrumbs li {
	display: inline;
}

form#wiki-search-form {
	text-align: left;
	float: right;
	
	
	position: relative;
	margin: 2px;
}

form#wiki-search-form button {
	width: 20px;
	height: 20px;	
	
	margin: 0px;
	margin-botton: 4px;
	padding: 0px;
	
	vertical-align: middle;
}

form#wiki-search-form button {
    background: transparent url('/static/images/icons/search.png') no-repeat center top;
    border: none;
     
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
	
	width: 20px;
	height: 20px;
}

form.wiki-edit, form.wiki-create {
	padding-left: 20px;
}

form.wiki-edit > div, form.wiki-create > div {
     margin-bottom: 12px;
}

form.wiki-edit div.wiki-label, form.wiki-create div.wiki-label {
	float: left;
	width: 80px;
}

span.input-group-addon {
   float: left;
   font-weight: bold;	
}

form.wiki-edit div.wiki-control, form.wiki-create div.wiki-control {
	left: 100px;
	padding-left: 0px;
	width: 620px;
}

textarea#id_content {
	width: 100%;
	height: 400px;
}

form.wiki-edit div.wiki-control *, form.wiki-create div.wiki-control *  {
	margin-left: 0px;
	display: block;
}


input#id_summary, input#id_title, div.input-group {
	float: left;
	width: 270px;
}

input#id_slug {
	width: 100%;
	overflow: hidden;
}


/* Hide a few fields I have no use for */
p#hint_id_summary, p#hint_id_slug, p#hint_id_title {
	float: right;
	font-size: 80%;
	width: 300px;
	margin: 0px;
}

span.asteriskField {
	visibility: hidden;
	display: none;
	float: none;
	position: absolute;
}
