{% extends 'solaris_layout.tmpl' %}
{% load solaris_forms %}
 
 {% block pageheader %}
  {{ block.super }}
  <script src="/static/js/stable_addmech.js" type="text/javascript" > </script>
{% endblock %}
 
{% block pagebody %}
<div class="body">
  <form action="{{post_url}}" method="POST" class="{{form_class}}">
    {% if mech_formset.non_field_errors %} <div class="form_error"> {{ form.non_field_errors }} </div> {% endif %}
    {{ mech_formset.management_form }}
    {% for form in mech_formset %}
    <fieldset class="mech_purchase"> 
        <input type="button" class="add-item" value="&#43;"/>     
        <span class="mech-name">{{ form.mech_name }}</span>
        <span class="mech-code">{{ form.mech_code }}</span>
        <span class="mech-cost">&nbsp;</span>
    </fieldset>
    {% endfor %}
    
    <fieldset class="template-form mech_purchase">
    {% with mech_formset.empty_form as form %} 
        <input type="button" class="add-item" value="&#43;"/>     
        <span class="mech-name">{{ form.mech_name }}</span>
        <span class="mech-code">{{ form.mech_code }}</span>
        <span class="mech-cost">&nbsp;</span>
    {% endwith %}
    </fieldset>    
    <p><input type="submit" Value="{{submit}}" class="submit"/></p>
  </form>
</div>
{% endblock %}
