<div xmlns:py="http://genshi.edgewall.org/" class="stable_ledger">
  <h1>${stable_name} Finances, Week ${week}</h1>
  <div class="balance">
    <div class="ledger_value"><p>${opening_balance}</p></div>
    <div class="ledger_desc"><h2>Opening Balance</h2></div>
  </div>
  
  <py:for each="group in ledger_items">
    <div class="subheader">
      <div class="ledger_value"></div>
      <div class="ledger_desc"><h3>${group['description']}</h3></div>
    </div>
    
    <py:if test="group['entries']">
      <py:for each="line in group['entries']">
        <div class="lineitem">
          <div class="line_display">
            <div class="ledger_value"><p>${line['item'].cost}</p></div>
            <div class="ledger_desc"><p>${line['item'].description}</p></div>
          </div>
          <div class="line_update">
          	${line['form'].as_p()}
          </div>
        </div>
      </py:for>
    </py:if>
    
    <py:if test="group['form']">
    <div class="lineitem">
      ${group['form'].as_p()}
    </div>
    </py:if>
  </py:for>
  
  <div class="balance">
    <div class="ledger_value"><p>${closing_balance}</p></div>
    <div class="ledger_desc"><h2>Closing Balance</h2></div>
  </div>
</div>