<form xmlns:py="http://genshi.edgewall.org/" action="${post_url}" method="POST" class="lineitem">
  <div class="ledger_add"><input type="submit" Value="${submit}" class="submit" tabindex="${submit_tab}"/></div>
  <div class="ledger_value">${fields['cost']['markup']}</div>
  <div class="ledger_desc">${fields['description']['markup']}</div>
  <div class="hidden">${fields['type']['markup']}${fields['id']['markup']}</div>
</form>