{% extends 'stablemanager/stable_base.html' %}
 
{% block pageheader %}
  {{ block.super }}
  <script src="/static/js/stable_mechs.js" type="text/javascript" > </script>
  <link rel="stylesheet" type="text/css" href="/static/css/mech_detail.css" />
{% endblock %}

{% block pagebody %}
<div class="body">
  <h1>{{stable.stable_name}} Mechs, Week {{week.week_number}}</h1>
  {% include 'stablemanager/fragments/mech_action_list.html' with object_list=object_list %} 
  <h2 class="section-divider">Add Mech</h2>
  {% include 'stablemanager/forms/add_mech_form.html' with form=purchase_form %}
  {% if completed_bills %}
  <h2 class="section-divider">Completed Bills</h2>
  <ul class="bill-list">
    {% for bill in completed_bills %}
    {% if bill.cored %}
    <li><a href="{{bill.get_absolute_url}}">
       <span class="bill-name">Insurance Payout - {{bill.mech.mech_name}} {{bill.mech.mech_code}}</span>
       <span class="bill-cost">{{bill.insurance_payout}}</span>
    </a></li>
    {% else %}
    <li><a href="{{bill.get_absolute_url}}">
       <span class="bill-name">Repairs - {{bill.mech.mech_name}} {{bill.mech.mech_code}}</span>
       <span class="bill-cost">-{{bill.lineitems.total_cost}}</span>
    </a></li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div title="Preview Mech Design" id="dialog-mechpreview" class="preview-dialog hidden">
  <p>Loading, Please Wait...</p>
</div>
<div title="Remove Mech" id="dialog-removemech" class="hidden">
  <p>Remove Mech from stable?</p>
</div>
<div title="Edit Mech" id="dialog-editmech" class="hidden"></div>
{% endblock %}
