{% extends 'solaris_layout.tmpl' %}

{% block pageheader %}
  {{ block.super }}
  <script src="/static/js/stablemanager.js" type="text/javascript" > </script>
  <script src="/static/js/form_utils.js" type="text/javascript" > </script>
{% endblock %}

{% block pageactions %}
<div class="actionbar">
  {% include 'stablemanager/fragments/stable_logo.html' with id='actionbar-stable-logo' %}
  <span class="actionbar-mainregion">
    <span class="actionbar-weekbrowser actionbar-toprow">
      <span id="browse-prev-week">
      {% if week_navigation and stableweek.has_prev_week %}
        <a href="{{prev_week_url}}">&#x25C0;</a>
      {% endif %}
      </span>
      <span id="browse-week-current">Week {{week.week_number}}</span>
      {% if week_navigation and stableweek.next_week != None %}
      <span id="browse-next-week">
        <a href="{{next_week_url}}">&#x25B6;</a>
      </span>
      {% elif week_navigation and stableweek.can_advance %}
      <span id="browse-next-week" class="create-post" week="{{week.week_number}}" viewname="{{view_url_name}}">
        <span class="action">&#x2795;</span>
        <img class="spinner" width="22" height="22" src="/static/images/loading.gif" alt="loading"/>
      </span>
      {% else %}
      <span id="browse-next-week"></span>
      {% endif %}
    </span>
    <hr class="action-break"/>
    <dl id="actionbar-stabledata" class="actionbar-summary" data_url="{{stableweek.get_overview_query_url}}">
      <dt>Funds</dt><dd id="actionbar-funds" class="small-text">{{stableweek.closing_balance}} CBills</dd>
      <dt>Prominence</dt><dd id="actionbar-prominence">{{stableweek.prominence}}</dd>
      <dt>Mechs</dt><dd id="actionbar-mechs">{{stableweek.mechs.count_nonsignature}} ({{stableweek.mechs.count_all_available}})</dd>
      <dt>Pilots</dt><dd id="actionbar-pilots">{{stableweek.pilots.count}}</dd>
    </dl>
  </span>
</div>
{% endblock %}
