{% extends 'stablemanager/stable_base.html' %}
{% load ledger %}
 
{% block pageheader %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/css/ledger.css" />
  <script src="/static/js/stable_ledger.js" type="text/javascript" > </script>
  
{% endblock %}
 
{% block pagebody %}
<div class="body">
  <h1>{{stable.stable_name}} Finances, Week {{week.week_number}}</h1>
 
  <table id="stable-ledger"><tbody>
   
  <tr id="stable-ledger-header" class="ledger-row">
    <td class="ledger-desc">Opening Balance</td>
    <td class="ledger-value" id="ledger-opening-balance">{{opening_balance}}</td>
  </tr>
  
  {% for group in ledger_groups %}
    <tr class="ledger-row ledger-section-header">
      <td class="ledger-desc">{{group.description}}</td>
      <td class="ledger-value" id="ledger-value-{{group.code | lower}}"></td>
    </tr>
     
    {% if group.entries %}{% for entry in group.entries %}
       {% include 'stablemanager/fragments/ledger_item.html' %}
    {% endfor %}{% endif %}

    {% if group.form %}
    {% ledger_add_form group.form %}
    {% endif %}

    <tr class="ledger-row ledger-item ledger-item-summary" id="ledger-summary-{{group.code | lower}}">
      <td class="ledger-desc">Subtotal for {{group.description}}</td>
      <td class="ledger-value" id="ledger-sumvalue-{{group.code | lower}}">{{group.subtotal}}</td>
    </tr>
  {% endfor %}

  <tr class="ledger-row" id="stable-ledger-footer">
    <td class="ledger-desc">Closing Balance</td>
    <td class="ledger-value" id="ledger-closing-balance">{{closing_balance}}</td>
  </tr>
 
  </tbody></table>  
</div>
{% endblock %}
