{% extends 'stablemanager/stable_base.html' %}
 
{% block pagebody %}
<div class="body">
  <h1>{{stable.stable_name}} Actions, Week {{week.week_number}}</h1>
  <p>Work in progress</p>
</div>
{% endblock %}
