{% extends 'stablemanager/stable_base.html' %}

{% block pageheader %}
  {{ block.super }}
  <script src="/static/js/stable_overview.js" type="text/javascript" > </script>
{% endblock %}
 
{% block pagebody %}
<div class="body">
  <h1>{{stable.stable_name}}</h1>

  <h2>Finances</h2>
  <p><em>Current Balance: </em>{{stableweek.closing_balance}}</p>
  <h2>Reputation</h2>
  <p>
    <input id="stable-reputation-minus" type="button" value="&#x2796;" class="icon-button"></input>
    <span id="stable-reputation" class="{{stableweek.reputation_class}}">{{stableweek.reputation_text}}</span>
    <input id="stable-reputation-plus" type="button" value="&#x2795;" class="icon-button"></input>
  </p>
  <h2>Supply Contracts</h2>
  {% include "stablemanager/fragments/stable_tech_list.html" with techlist=stableweek.supply_contracts.all %}

  <h2>Mechs</h2>
  <h3>Non-Signature Mechs</h3>
  <ul class="stable-mech-list chit-list">
     {% for mech in stableweek.mechs.non_signature %}
       {% include "stablemanager/fragments/mech_chit.html" with mech=mech.current_design %}
     {% endfor %}
  </ul>
</div>
{% endblock %}
