{% extends 'solaris_layout.tmpl' %}

{% block pageactions %}
<div class="actionbar">
  <img id="actionbar-stable-logo" src="/static/images/blank-80.png" alt="blank"/>
  <span class="actionbar-mainregion">
    <ul class="actionbar-row">
       <li id="actionbar-weekbrowser">
         {% if week_navigation %}<span id="browse-prev-week">&#x25C0;</span>{% endif %}
         <span id="browse-week-current">&nbsp;Week&nbsp;{{stableweek.week.week_number}}&nbsp;</span>
         {% if week_navigation %}<span id="browse-next-week">&#x25B6;</span>{% endif %}
       </li>
       <li><a href="/stable/mechs/repair/new">Repairs</a></li>
    </ul>
    <hr class="action-break"/>
    <dl class="actionbar-summary">
      <dt>Funds</dt><dd>{{stableweek.closing_balance}} CBills</dd>
      <dt>Prominence</dt><dd>{{stableweek.prominence}}</dd>
      <dt>Mechs</dt><dd>{{stableweek.mechs.count}}</dd>
      <dt>Pilots</dt><dd>{{stableweek.pilots.count}}</dd>
    </dl>
  </span>
</div>
{% endblock %}
