{% extends 'stablemanager/stable_base.html' %}

{% block pageheader %}
  {{ block.super }}
  <script src="/static/js/stable_pilots.js" type="text/javascript" > </script>
{% endblock %}
 
{% block pagebody %}
<div class="body">
  <h1>{{stable.stable_name}} Pilots, Week {{week.week_number}}</h1>
  
  {% if object_list %}
  <table id="stable-pilot-table" class="pilots">
    <tr class="header"><td rowspan=2 class="name">Pilot</td><td rowspan="2" class="rank">Rank</td><td rowspan=2 class="talents">Traits</td><td colspan=2 class="abilities">Abilities</td><td rowspan=2 class="bv">BV</td>
      <td colspan=6 class="experience">Experience<span class="icon-right">&#x270E;</span></td>
      <td rowspan=2 class="wounds">Wounds<span class="icon-right">&#x270E;</span></td>
    </tr>
    <tr class="header"><td class="subheader">G</td><td class="subheader">P</td>
    <td class="subheader"></td><td class="subheader">R</td><td class="subheader">XP</td><td class="subheader">TP</td><td class="subheader">-</td><td class="subheader">=</td></tr>
    {% for pilotweek in object_list %}
     <tr class="pilot-row {%cycle 'odd' 'even' %}{% if pilotweek.is_dead %} dead{% endif %}" id="{{pilotweek.pilot.pilot_callsign | slugify}}" callsign="{{pilotweek.pilot.pilot_callsign}}">
       <td class="name">{{pilotweek.pilot.full_name}}</td>
       <td class="rank">{{pilotweek.rank.rank}}</td>
       <td class="talents">{% for training in pilotweek.skills.all %} 
         {{training.skill}} 
         {% if forloop.last == False %}, {% endif %}
        {% endfor %}</td>
       <td class="gunnery">{{pilotweek.skill_gunnery}}</td><td class="piloting">{{pilotweek.skill_piloting}}</td>
       <td class="bv">{{pilotweek.bv_formatted}}</td>
       <td class="experience">{{pilotweek.start_character_points}}</td>
       <td class="rank-xp">{{pilotweek.rank.auto_train_cp}}</td>
       <td class="gained-xp editable" field="cp">{{pilotweek.adjust_character_points}}</td>
       <td class="assigned-tp {% if pilotweek.rank.receive_tp %}editable{% endif %}" field="tp">{{pilotweek.assigned_training_points}}</td>
       <td class="spent-xp">{{pilotweek.training_cost}}</td>
       <td class="final-xp">{{pilotweek.character_points}}</td>
       <td class="wounds editable" field="wounds">{{pilotweek.wounds}}</td>
       </tr>
    {% endfor %}
  </table>
  <h2>Training Points</h2>
  <table id="stable-pilots-training" class="pilots">
    <tr class="header"><td></td><td>Gained</td><td>Assigned</td></tr>
    <tr class="odd">
      <td class="header">Rookies</td>
      <td id="training-rookie-tp">{{stableweek.rookie_tp}}</td>
      <td id="training-rookie-assigned">{{stableweek.rookie_assigned_tp}}</td>
    </tr>
    <tr class="even">
      <td class="header">Contenders</td>
      <td id="training-contender-tp">{{stableweek.contender_tp}}</td>
      <td id="training-contender-assigned">{{stableweek.contender_assigned_tp}}</td>
    </tr>
    <tr class="odd">
      <td class="header">Total</td>
      <td id="training-total" class="total editable">{{stableweek.training_points}}<span class="icon-right">&#x270E;</span></td>
      <td id="training-total-assigned" class="total">{{stableweek.total_assigned_tp}}</td>
    </tr>
  </table>
  <h2>Pilot Training</h2>
    <p>All pilot training performed will be applied from the next Stable Week onwards</p>
    <p>Coming Soon</p>
  {% else %}
    <p>No pilots in stable</p>
  {% endif %}
</div>
{% endblock %}
