{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body">
  <h1>{{stable.stable_name}} Pilots, Week {{week.week_number}}</h1>
  
  {% if object_list %}
  <table class="pilots">
    <tr class="header"><td rowspan=2 class="name">Pilot</td><td rowspan=2 class="talents">Talents</td><td colspan=2 class="abilities">Abilities</td><td rowspan=2 class="experience">Experience</td><td rowspan=2 class="wounds">Wounds</td></tr>
    <tr class="header"><td class="subheader">G</td><td class="subheader">P</td></tr>
    {% for pilotweek in object_list %}
     <tr class="{%cycle 'odd' 'even' %}">
       <td>{{pilotweek.pilot.full_name}}</td>
       <td>{% for training in pilotweek.skills.all %} 
         {{training.skill}} 
         {% if forloop.last == False %}, {% endif %}
        {% endfor %}</td>
       <td>{{pilotweek.skill_gunnery}}</td><td>{{pilotweek.skill_piloting}}</td>
       <td>{{pilotweek.character_points}}</td>
       <td>{{pilotweek.wounds}}</td>
       </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No pilots in stable</p>
  {% endif %}
</div>
{% endblock %}
