{% extends 'solaris_layout.tmpl' %}
 
{% block pagebody %}
<div class="body">
  <h1>{{stable.stable_name}} Finances, Week {{week.week_number}}</h1>
  
  <div class="balance">
    <div class="ledger_value"><p>{{opening_balance}}</p></div>
    <div class="ledger_desc"><h2>Opening Balance</h2></div>
  </div>
  
  {% for group in ledger_groups %}
    <div class="subheader">
      <div class="ledger_value"> </div>
      <div class="ledger_desc"><h3>{{group.description}}</h3></div>
    </div>
    
    {% if group.entries %}{% for entry in group.entries %}
        <div class="lineitem">
          <div class="line_display">
            <div class="ledger_value"><p>{{entry.item.cost}}</p></div>
            <div class="ledger_desc"><p>{{entry.item.description}}</p></div>
          </div>
          <div class="line_update">
          	{{entry.form.as_p | safe}}
          </div>
          {{entry.delete.as_p  | safe}}
        </div>
    {% endfor %}{% endif %}
     
    {% if group.form %}
    <div class="lineitem">
      {{group.form.as_p  | safe}}
    </div>
    {% endif %}
  {% endfor %}
 
  
</div>
{% endblock %}
