{% extends 'solaris_layout.tmpl' %}
{% load solaris_forms %}
 
{% block pagebody %}
<div class="body">
  <form action="{{post_url}}" method="POST" class="{{form_class}}">
    {% if pilot.non_field_errors or skills.non_field_errors %} 
      <div class="form_error">
        {{ pilot.non_field_errors }} {{skills.non_field_errors}}}
      </div>
    {% endif %}
    
    <fieldset> <legend>Pilot Details</legend>
    {% basic_field pilot.pilot_callsign %}
    {% basic_field pilot.pilot_name %}
    {% basic_field pilot.affiliation %}
    </fieldset>
    
    <fieldset> <legend>Pilot Experience</legend>
    {% for field in pilotweek %}
      {% basic_field field %}
    {% endfor %}
    </fieldset>
    
    <fieldset> <legend>Pilot Skills and Traits</legend>
    {% for skill in skillset %}
    <div class="skill">
      {% for field in skill %}
        {% basic_field field %}
      {% endfor %}
    </div>
    {% endfor %}
    </fieldset>
    
    <p><input type="submit" Value="{{submit}}" class="submit"/></p>
  </form>
</div>
{% endblock %}
