
<form id="mech-purchase-form" action="{{purchase_url}}" method="POST">
  {% if week.week_number %}
    <input type="hidden" name="week_no" value="{{week.week_number}}"></input>
  {% else %}
    {{form.week_no}}
  {% endif %}
  <span id="mech-purchase-prod" class="mech-purchase-row">
    <span class="mech-purchase-select">
      <input type="radio" name="mech_source" value="C"></input>
    </span><span class="mech-purchase-label">
      Production Mech
    </span>
    <span class="mech-purchase-chassis">{{form.mech_name}}</span>
    <span class="mech-purchase-model">{{form.mech_code}}</span>
    <span class="mech-purchase-preview"><span class="word-button">Preview</span></span>
    <span class="mech-purchase-cost"></span>
  </span>
  <span class="label-divider">
    <hr class="label-divider-left"/>
    <span class="label-divider-text">OR</span>
    <hr class="label-divider-right"/>
  </span>
  <span class="mech-purchase-row">
    <span class="mech-purchase-select">
      <input type="radio" name="mech_source" value="U"></input>
    </span><span class="mech-purchase-label">
      Custom Design
    </span>
    <span class="mech-purchase-upload">{{form.mech_ssw}}</span>
  </span>
  <span class="mech-purchase-row">
    <span class="mech-purchase-checkbox">{{form.as_purchase}} Add as Purchase</span>
    <span class="mech-purchase-checkbox">{{form.allmechs}} Include Designs Not Produced By Stable</span>
    <span class="mech-purchase-delivery">{{form.delivery.label}} {{form.delivery}}</span>
    <span class="mech-purchase-submit">
      <button id="mech-purchase-submit" class="word-button" type="button" value="submit" disabled="yes">Purchase</button>
    </span>
  </span>
</form>
