{% extends 'solaris_layout.tmpl' %}
{% load solaris_forms %}
 
{% block pagebody %}
<div class="body">
  <form action="{{post_url}}" method="POST" class="{{form_class}}">
    {% if pilot.non_field_errors or skills.non_field_errors %} 
      <div class="form_error">
        {{ pilot.non_field_errors }} {{skills.non_field_errors}}}
      </div>
    {% endif %}
    
    <fieldset> <legend>Pilot Details</legend>
    {% column_field pilot.pilot_callsign %}
    {% column_field pilot.pilot_name %}
    {% column_field pilot.affiliation %}
    </fieldset>
    
    <fieldset> <legend>Pilot Experience</legend>
    {% column_field pilotweek.rank %}
    {% column_field pilotweek.skill_gunnery %}    
    {% column_field pilotweek.skill_piloting %}    
    {% column_field pilotweek.start_character_points %}
    {{ pilotweek.pilot }}
    {{ pilotweek.week }}
    </fieldset>
    
    <fieldset> <legend>Pilot Skills and Traits</legend>
    {% for skill in skillset %}
    <div class="skill">
      {% for field in skill %}
        {% basic_field field %}
      {% endfor %}
    </div>
    {% endfor %}
    </fieldset>
    
    <p><input type="submit" Value="{{submit}}" class="submit"/></p>
  </form>
</div>
{% endblock %}
