{% extends 'solaris_layout.tmpl' %}
{% load solaris_forms %}

{% block pageheader %}
  {{ block.super }}
  <script src="/static/js/pilot_form.js" type="text/javascript" > </script>
{% endblock %}
 
{% block pagebody %}
<div class="body">
  <form action="{{post_url}}" method="POST" class="{{form_class}}">
    {% if pilot.non_field_errors or pilotweek.non_field_errors or skills.non_field_errors %} 
      <div class="form_error">
        {{ pilot.non_field_errors }} {{pilotweek.non_field_errors}} {{skills.non_field_errors}}
      </div>
    {% endif %}
    
    <fieldset> <legend>Pilot Details</legend>
    {% column_field pilot.pilot_callsign %}
    {% column_field pilot.pilot_name %}
    {% column_field pilot.affiliation %}
    {{ pilot.stable }}
    </fieldset>
    
    <fieldset> <legend>Pilot Experience</legend>
    {% column_field pilotweek.rank %}
    {% column_field pilotweek.skill_gunnery short_column %}    
    {% column_field pilotweek.skill_piloting short_column %}    
    {% column_field pilotweek.start_character_points short_column %}
    </fieldset>
    
    <fieldset> <legend>Pilot Skills and Traits</legend>
    {{skillset.management_form}}
    {% for skill in skillset %}
    <div class="skill">
      {% column_field skill.discipline %}
      {% column_field skill.training %}
      {% column_field skill.notes %}
    </div>
    {% endfor %}
    </fieldset>
    <div class="template_form" id="template_skill"> {% with skillset.empty_form as skill %}
      {% column_field skill.discipline %}
      {% column_field skill.training %}
      {% column_field skill.notes %}
    </div> {% endwith %}
    <p><input type="submit" Value="{{submit}}" class="submit"/></p>
  </form>
</div>
{% endblock %}
