<form id="mech_refit_form" mech_id="{{stablemechweek.id}}">
  <hr class="chit-divider"/>
  <ul class="refit-mechs">{% for model in stablemechweek.refit_options %}
    <li><input type="radio" class="mech-source-radio" name="mech_source" value="C" mech_name="{{model.mech_name}}" mech_code="{{model.mech_code}}">
      <span class="mech-model">{{model.mech_name}} {{model.mech_code}}</span>
      <span class="word-button action-preview">Preview</span>
    </input></li>
  {% endfor %}
  <li><input type="radio" class="mech-source-radio" name="mech_source" value="U" mech_name="{{model.mech_name}}">
    <span class="mech-model">Upload</span><input name="mech_ssw" type="file"></input>
    </input></li>
  </ul>
  <span class="refit-options">
    <span class="refit-option-item"><input type="checkbox" checked="true" id="id_add_ledger" name="add_ledger">Record Refit Costs</input></span>
    <span class="refit-option-item">Roll Failed By: <input id="id_failed_by" type="number" name="failed_by" value="0"></input></span>
    <span class="refit-option-item"><input type="button" id="refit-button-submit" class="word-button" value="Refit"></input></span>
  </span>
</form>
