<form id="mech_refit_form" mech_id="{{stablemechweek.id}}">
  <hr class="chit-divider"/>
  <ul class="refit-mechs">
    {% for model in stablemechweek.refit_production_options %}
    {% if forloop.first %}  <li class="list-divider"><span>Production Models</span><hr/></li> {% endif %}
      <li><input type="radio" class="mech-source-radio" name="mech_source" value="C" mech_name="{{model.mech_name}}" omni_loadout="{{model.omni_loadout}}" mech_code="{{model.mech_code}}">
        <span class="mech-model">{{model.mech_name}} {{model.mech_code}}</span>
        <span class="word-button action-preview" preview_url="{{model.get_absolute_url}}">Preview</span>
      </input></li>
    {% endfor %}
    {% for model in stablemechweek.refit_custom_options %}
    {% if forloop.first %}  <li id="refit-custom-header" class="list-divider"><span>Custom Models</span><hr/></li> {% endif %}
      <li><input type="radio" class="mech-source-radio" name="mech_source" value="C" mech_name="{{model.mech_name}}" omni_loadout="{{model.omni_loadout}}" mech_code="{{model.mech_code}}">
        <span class="mech-model">{{model.mech_name}} {{model.mech_code}}</span>
      </input></li>
    {% empty %}
      <li id="refit-custom-header" class="list-divider hidden"><span>Custom Models</span><hr/></li>
    {% endfor %}
  </ul>
  <hr class="chit-divider"/>
  <span class="refit-options">
    <span class="refit-option-row">
      <span class="refit-label">Record Refit Costs:</span>
      <input type="checkbox" class="field" checked="true" id="id_add_ledger" name="add_ledger"></input>
      <input type="button" id="refit-button-upload" class="word-button" form_url="{% url 'upload_refit_mech' smw_id=stablemechweek.id %}" value="Upload"></input>
    </span>
    <span class="refit-option-row">
      <span class="refit-label">Roll Failed By: </span>
      <input id="id_failed_by" type="number" class="field" name="failed_by" value="0"></input>
      <input type="button" id="refit-button-submit" class="word-button" value="Refit"></input>
    </span>
  </span>
</form>
