<p>All pilot training performed will be applied from the next Stable Week onwards</p>
<form id="pilot-training-form">
  <input id="pilot-training-submit" type="button" disabled="yes" class="icon-button submit" value="&#x2795;"></input>
  <span class="pilot"><div class="label-small">Pilot:</div>{{training_form.pilot}}</span>
  <span class="training"><div class="label-small">Training:</div>{{training_form.training}}</span>
  <span class="skill"><div class="label-small">Skill:</div>{{training_form.skill}}</span>
  <span class="notes"><div class="label-small">Skill Notes (Optional)</div>{{training_form.notes}}</span>
</form>
