<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Solaris StableManager</title>
    <link rel="stylesheet" type="text/css" href="media/css/devbay.css" />
  </head>
  
  <body>
    <div class="title">
      <image id="logo" src="media/images/devbay-logo.png"/>
      <h1>Solaris StableManager</h1>
      <h2>Work in progress</h2>
    </div>

    <div class="body">$body</div>
  </body>
</html>
