<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Solaris StableManager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/solaris.css" />
  </head>
  
  <body>
    <div class="title">
      <image id="logo" src="/static/images/solaris.jpg"/>
      <h1>Solaris StableManager</h1>
      <h2>Work in progress</h2>
    </div>

    <div class="toolbar">
      <py:for each="(page, path) in menu">
        <py:choose test="selected">
          <py:when test="path">
            <span id="selected">$page</span>
          </py:when>
          <py:otherwise> 
            <span><a href="$path">$page</a></span>
          </py:otherwise>
        </py:choose>
      </py:for>    
    </div>  

    <div class="body">$body</div>
  </body>
</html>
