<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Solaris StableManager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/solaris.css" />
  </head>
  
  <body>
    <div class="title">
      <image id="logo" src="/static/images/solaris.jpg"/>
      <h1>Solaris StableManager</h1>
      <h2>Work in progress</h2>
    </div>

    <div class="toolbar">
      <span>Main</span>
      <span>Rules</span>
      <span>Mech Lists</span>
    </div>

    <div class="body">$body</div>
  </body>
</html>
