<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Solaris StableManager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/solaris.css" />
    <script type="text/javascript" src="/static/nicEdit/nicEdit.js"></script>
  </head>
  
  <body>
    <div class="title">
      <image id="logo" src="/static/images/solaris.jpg"/>
      <h1>Solaris StableManager</h1>
      <h2>Work in progress</h2>
    </div>

    <div class="toolbar">
      <py:for each="item in menu">
        <py:choose test="selected">
          <py:when test="item.url">
            <span id="selected">$item.title</span>
          </py:when>
          <py:otherwise> 
            <span><a href="$item.url">$item.title</a></span>
          </py:otherwise>
        </py:choose>
      </py:for>  
  
      <span class='login'>
         <py:choose test="authenticated">
           <py:when test="True">Welcome, ${username} (<a href="/logout">Logout</a>)</py:when>
           <py:otherwise>
             <a href="/login">Login</a> / <a href="/register">Register</a>
           </py:otherwise>
         </py:choose>
      </span>
    </div>  

    <div class="body">$body</div>
  </body>
</html>
