<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Solaris StableManager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/solaris.css" />
    <script type="text/javascript" src="/static/nicEdit/nicEdit.js"></script>
  </head>
  
  <body>
    <div class="title">
      <image id="logo" src="/static/images/solaris.jpg"/>
      <h1>Solaris StableManager</h1>
      <h2>Work in progress</h2>
    </div>

    <ul class="menu">
      <py:for each="item in menu">
        <py:choose test="selected">
          <py:when test="item.url">
            <li id="selected">$item.title</li>
          </py:when>
          <py:otherwise> 
            <li><a href="$item.url">$item.title</a></li>
          </py:otherwise>
        </py:choose>
      </py:for>
      
      <span class='login'>
         <py:choose test="authenticated">
           <py:when test="True"><li class="login"><a href="/logout">Logout</a></li></py:when>
           <py:otherwise>
             <li class="login"><a href="/login">Login</a></li>
             <li class="login"><a href="/register">Register</a></li>
           </py:otherwise>
         </py:choose>
      </span>
    </ul>  

    <py:if test="submenu">
      <ul class="submenu">
       <py:for each="item in submenu">
         <li><a href="${item['url']}">${item['title']}</a></li>
       </py:for>
      </ul>
    </py:if>
    

    <div class="body">$body</div>
  </body>
</html>
