<div xmlns:py="http://genshi.edgewall.org/" class="news_form">
  <form action="/postnews" method="POST">
    <div>Title: <input type="text" width="120" class="title" name="title"/></div>
    <div>
       <textarea name="content" class="richedit" cols="120" rows="10">Post text goes here, use the preview function to check before posting.</textarea>
    </div>
    <div><input type="submit" Value="Post"/></div>
  </form>
</div>