<div xmlns:py="http://genshi.edgewall.org/" class="news_form">
  <script type="text/javascript">
     function validateForm() {
       var title = document.forms["news"]["title"].value;
       var content = document.forms["news"]["content"].value;

       if (title == null || title == "") {
          alert("Title is blank");
          return false;
       }

       if  (content == null || content == "") {
          alert("No article content");
          return false;
       }

     }
  </script>
  <form action="/postnews" name="news" method="POST" onsubmit="return validateForm();">
    <div>Title: <input type="text" width="120" class="title" name="title"/></div>
    <div>
       <textarea name="content" class="richedit" cols="120" rows="10">Post text goes here, use the preview function to check before posting.</textarea>
    </div>
    <div><input type="submit" Value="Post"/></div>
  </form>
</div>