{% load menu %}
<html>
  <head>
    <title>{% block title %}Solaris StableManager{% endblock %}</title>  
    {% block pageheader %}
    <link rel="stylesheet" type="text/css" href="/static/css/solaris.css" />
    <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
    {% endblock %}
  </head>
  
  <body>
    {% block pagetitle %}
    <div class="title">
      <image id="logo" src="/static/images/solaris.jpg"/>
      <h1>Solaris StableManager</h1>
      <h2>Work in progress</h2>
    </div>
    {% endblock %}

    {% block pagemenu %}
    <ul class="menu">
      {% menuitem News / %}
      {% menuitem Reference /reference %}
      {% menuitem Wiki /wiki %}
      
      {% if user.is_authenticated %}
          {% menuitem Stable /stable %}
          
          {% if user.is_admin %}
              {% menuitem Admin /admin %}
          {% endif %}
      {% endif %} 

      <span class='login'>
         {% if user.is_authenticated %}
           <li class="login"><a href="/logout">Logout</a></li>
         {% else %}
           <li class="login"><a href="/login">Login</a></li>
           <li class="login"><a href="/register">Register</a></li>
         {% endif %}
      </span>
    </ul>  
    {% endblock %}

    {% block pagesubmenu %}
    {% if submenu %}    
    <ul class="submenu">
    {% for item in submenu %}
       {% if item.title == submenu_selected %}
         <li id="selected">{{item.title}}</li>
       {% else %}
         <li><a href="{{item.url}}">{{item.title}}</a></li>
       {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
    
    {% block pagebody %}
      <div class="body">{{body | safe}}</div>
      {% for v in visibility %}
        <p> {{v}}</p>
      {% endfor %}
    {% endblock %}
  </body>
</html>
