{% load menu %}
<html>
  <head>
    <title>{% block title %}Solaris StableManager{% endblock %}</title>  
    {% block pageheader %}
    <link rel="stylesheet" type="text/css" href="/static/css/solaris.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/solaris_forms.css" />
    <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
    {% endblock %}
  </head>
  
  <body>
    {% block pagetitle %}
    <div class="title">
      <image id="logo" src="/static/images/solaris-screen.png"/>
       <span class="title-menu">
         <h1 class="title-text">Solaris StableManager</h1>
         <h2 class="subtitle-text">Work in progress</h2>
         
         <div class="menu-area"> 
         {% block pagemenu %}
         <ul class="menu menu-main">
           {% menuitem News / %}
           {% menuitem Reference /reference %}
           {% menuitem Wiki /wiki %}
           
           {% if user.is_authenticated %}
               <!-- menuitem Stable /stable !-->
               
               {% if perms.is_admin %}
                   {% menuitem Admin /admin %}
               {% endif %}
           {% endif %} 
         </ul>
         {% endblock %}

         {% block usermenu %}
         <ul class='menu menu-login'>
         {% if user.is_authenticated %}
           <li class="login"><a href="/logout">Logout</a></li>
         {% else %}
           <li class="login"><a href="/login">Login</a></li>
           <li class="login"><a href="/register">Register</a></li>
         {% endif %}
         </ul>
         {% endblock %}
         </div>
      </span>
    </div>
    {% endblock %}

    {% block pagecontent %}
      <div class="content">
      {% block page-submenu %}
        {% if submenu %}    
          <ul class="menu submenu">
          {% for item in submenu %}
             {% if item.title == submenu_selected %}
               <li id="selected">{{item.title}}</li>
             {% else %}
               <li><a href="{{item.url}}">{{item.title}}</a></li>
             {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      {% endblock %}
            
      {% block pagebody %}
        {% for v in visibility %}
          <p> {{v}}</p>
        {% endfor %}
      {% endblock %}
      </div>
    {% endblock %}
  </body>
</html>
