{% extends 'solaris_layout.tmpl' %}
{% load solaris_forms %}
 
{% block pagebody %}
<div class="body">
  <form id="{{form_class}}_form" action="{{post_url}}" method="POST" class="{{form_class}}">
    {% if form.non_field_errors %} <div class="form_error"> {{ form.non_field_errors }} </div> {% endif %}
    {% for field in form %}
      {% basic_field field %}
    {% endfor %}
    <p class="form-buttons"><input id="{{form_class}}_submit" type="submit" Value="{{submit}}" class="word-button submit"/><img class="spinner" src="/static/images/loading_grey.gif"></p>
  </form>
</div>
{% endblock %}
