<div xmlns:py="http://genshi.edgewall.org/" class="content">
<py:if test="formErrors">
  <div class="form_error">
    <p>Errors were encountered processing this form</p>
    <ul>
    <py:for each="error in formErrors">
      <li/>${error}
    </py:for>
    </ul>
  </div>
</py:if>
<py:for each="field in form">
  <p id="${field['label']}" class="field_${field['state']}"><label for="id_${field['label']}">${field['label']}:</label> ${field['markup']}
  <py:if test="field['errors']">
    <py:for each="errorText in field['errors']">
      <span id="${field['label']}_message">${errorText}</span>
    </py:for>    
  </py:if>
  </p>
</py:for>
<py:if test="redirect">
  <input type="hidden" name="redirect" value="${redirect}"/>
</py:if>
</div>