<div xmlns:py="http://genshi.edgewall.org/" class="tech_tier$tech.tier">
  <h1>$tech.name</h1>
  <div class="tech_desc">
    $description
  </div>
  <div class="tech_rolls">
    <p>Base Difficulty: $tech.base_difficulty
    <ul><py:for each="mod in modifiers">
      <li/><em>$mod.modifier</em> $mod.condition
    </py:for></ul>
    </p>
  </div>
</div>
