{% extends 'campaign/campaign_base.html' %}

{% block pageheader %}
  {{ block.super }}
  <script src="/static/js/form_utils.js" type="text/javascript" > </script>
  <script src="/static/js/campaign_actions.js" type="text/javascript" > </script>
{% endblock %}
 
{% block pagebody %}
<div class="body">
  <h1>Campaign Actions - {{campaign.name}}</h1>
  <h2>Week {{week.week_number}}, Week of the {{week.sign.sign}}</h2>
  {% include 'campaign/fragments/actions_list.html' %}

  {% if perms.is_admin or perms.campaign.change_campaign %}
    {% if week.week_started %}
      <button id="campaign-action-start" class="word-button" type="button" value="submit" action_url="{% url 'campaign_actions_start' week=week.week_number campaign_url=campaign.urlname %}" start_week="False">Reset Week</button>       
    {% else %}
      <button id="campaign-action-start" class="word-button" type="button" value="submit" action_url="{% url 'campaign_actions_start' week=week.week_number campaign_url=campaign.urlname %}" start_week="True">Start Week</button>       
    {% endif %}
  {% endif %}

</div>
{% endblock %}
