{% extends 'campaign/campaign_base.html' %}
 
{% block pagebody %}
<div class="body">
  <h1>Campaign Overview - {{campaign.name}}</h1>
  <h2>Week {{week.week_number}}, Week of the {{week.sign.sign}}</h2>
  {% if campaign.stable_set.count > 0 %}
    <h3>Stable Rankings</h3>
      <ul id="campaign-stables" class="chit-list">
      {% for stableweek in active %} 
        <li class="chit stable-chit active {{stableweek.reputation_class}}">
          <span class="prominence">{{stableweek.prominence}}</span>
          <span class="stable">
            <div class="stable-name">{{stableweek.stable.stable_name}}</div>
            <div class="stable-summary">{{stableweek.stable.house}}, {{stableweek.reputation_text}}. Has {{stableweek.pilots.count}} pilots and {{stableweek.mechs.count_all_available}} mechs.</div>
          </span>
        </li>
      {% endfor %}
      {% for stable in inactive %} 
        <li class="chit stable-chit waiting">
          <span class="prominence">--</span>
          <span class="stable">
            <div class="stable-name">{{stable.stable_name}}</div>
            <div class="stable-summary">Records currently up to {{stable.get_stableweek.week}}</div>
          </span>
        </li>
      {% endfor %}
      </ul>
  {% endif %}
  <h3>Technology Availability</h3>
  <h4>On Market (Accessible to at least one Stable)</h4>
    <ul class="chit-list">
    {% for tech in week.list_techs_available %}
      <li class="chit stable-tech tier{{tech.tier}}">{{tech}}</li>
    {% endfor %} 
    </ul>
  <h4>Ubiquitious (Accessible to all current stables)</h4>
    <ul class="chit-list">
    {% for tech in week.list_techs_all_have %}
      <li class="chit stable-tech tier{{tech.tier}}">{{tech}}</li>
    {% endfor %} 
    </ul>
  
</div>
{% endblock %}
