
{% load mech_items %}

  <div class="mech-armour mech-motive-{{mech.motive_type | lower}} {{detail_class}}">
    {% for location in mech.locations.all %} {% block mech-structure %}
      <div class="mech-armour-location {%if location.is_front %}mech-armour-front{% else %}mech-armour-back{%endif%}" id="armour_{{location.location_code | lower}}">
        <div class="mech-section-header">{{location.location_code}}</div>
        <div class="mech-section-row mech-armour-armour">A<span>{{location.armour}}</span></div>
        {% if location.structure %}
          <div class="mech-section-row mech-armour-structure">S<span>{{location.structure}}</span></div>
        {% endif %} 
      </div>
    {% endblock %}{% endfor %}
  </div>
  
  <div class="mech-criticals mech-criticals-{{mech.motive_type | lower}} {{detail_class}}">
    <div class="mech-critical-row mech-row-head">
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.HD %}
    </div>
    
    <div class="mech-critical-row mech-row-torso">
       {% if mech.motive_type == 'B' %} {% include 'warbook/mech_crittable.tmpl' with object=crit_table.LA %} {% endif %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.LT %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.CT %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.RT %}
       {% if mech.motive_type == 'B' %} {% include 'warbook/mech_crittable.tmpl' with object=crit_table.RA %} {% endif %}
    </div>
    
    <div class="mech-critical-row mech-row-legs">
      {% if mech.motive_type == 'B' %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.LL %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.RL %}
      {% else %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.LRL %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.LFL %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.RFL %}
       {% include 'warbook/mech_crittable.tmpl' with object=crit_table.RRL %}
      {% endif %}
    </div>
  </div>
