
<li class="chit tier{{mech.tier}} mech-chit">
   <span class="mech-tonnage">{{mech.tonnage}}</span>
   <span class="mech-body">
   {% block row_container_start %}<a class="chit-row" href="{{mech.get_absolute_url}}"> {% endblock %}
   {% block mech_info %}
     <div class="chit-section chit-section-left">
       <div class="chit-toprow mech-name">{{mech.mech_name}} {{mech.mech_code}}</div>
       <div class="chit-bottom mech-desc">{{ mech.description }}</div>
     </div>
   {% endblock %}
     {% block mech_actions %}<div class="chit-section chit-section-actions"> </div> {% endblock %}
     <div class="chit-section chit-section-right chit-section-value">
       <div class="chit-toprow mech-bv">{% if mech.is_omni %}Omni{% else %}BV: {{mech.bv_value}}{% endif %}</div>
       <div class="chit-bottom mech-cost">{{mech.credit_value}} C-Bills</div>
     </div>
   {% block row_container_end %}</a>{% endblock %}
   {% if mech.is_omni %}
   {% block omni_config_list %}
   <div class="omni-list">
     <div class="omni-row omni-header">
       <span class="omni-column config-name">Loadout</span>
       <span class="omni-column config-description"></span>
       <span class="omni-column config-bv">BV</span>
     </div>
   {% for config in mech.loadouts.all %}
     <a class="omni-row omni-config" href="{{config.get_absolute_url}}">
       <span class="omni-column config-name">{{config.omni_loadout}}</span>
       <span class="omni-column config-description">{{config.description}}</span>
       <span class="omni-column config-bv">{{config.bv_value}}</span>
     </a>
   {% endfor %}
   </div></span>
   {% endblock %}
   {% endif %}
 </li>
