
<li class="chit tier{{mech.tier}}">
   <span class="mech-tonnage">{{mech.tonnage}}</span>
   <a class="chit-row" href="{{mech.get_absolute_url}}">
     <div class="chit-section chit-section-left">
       <div class="chit-toprow mech-name">{{mech.mech_name}} {{mech.mech_code}}</div>
       <div class="chit-bottom mech-desc">{{ mech.description }}</div>
     </div>
     <div class="chit-section chit-section-right">
       <div class="chit-toprow mech-bv">BV: {{mech.bv_value}}</div>
       <div class="chit-bottom mech-cost">Cost: {{mech.credit_value}}</div>
     </div>
   </a>
 </li>
