
{% load mech_items %}

  <div class="mech-armour mech-motive-{{mech.motive_type | lower}} {{detail_class}}">
    {% for location in mech.locations.all %} {% block mech-structure %}
      <div class="mech-armour-location" id="armour_{{location.location_code | lower}}">
        <div class="mech-section-header">{{location.location_code}}</div>
        <div class="mech-armour-armour">A<span>{{location.armour}}</span></div>
        {% if location.structure %}
          <div class="mech-armour-structure">S<span>{{location.structure}}</span></div>
        {% endif %} 
      </div>
    {% endblock %}{% endfor %}
  </div>
  
  <div class="mech-criticals mech-criticals-{{mech.motive_type | lower}} {{detail_class}}">
    <div class="mech-critical-row mech-row-head">
       {{ crit_table.HD | crit_table }}
    </div>
    
    <div class="mech-critical-row mech-row-torso">
       {% if mech.motive_type == 'B' %} {{ crit_table.LA | crit_table }} {% endif %}
       {{ crit_table.LT | crit_table }}
       {{ crit_table.CT | crit_table }}
       {{ crit_table.RT | crit_table }}
       {% if mech.motive_type == 'B' %} {{ crit_table.RA | crit_table }} {% endif %}
    </div>
    
    <div class="mech-critical-row mech-row-legs">
      {% if mech.motive_type == 'B' %}
        {{ crit_table.LL | crit_table }}
        {{ crit_table.RL | crit_table }}
      {% else %}
        {{ crit_table.LRL | crit_table }}
        {{ crit_table.LFL | crit_table }}
        {{ crit_table.RFL | crit_table }}
        {{ crit_table.RRL | crit_table }}
      {% endif %}
    </div>
  </div>