<div xmlns:py="http://genshi.edgewall.org/">
  <h1>${discipline.name}</h1>
  <p>${discipline.blurb}</p>
  <py:for each="abil in abilities">
     <div class="ability">
      <h2>${abil.name}</h2>
      <p class="abilityText">${abil.description}</p>
      <p class="bv">${abil.bv_text()}</p>       
    </div>
  </py:for>  
</div>