<div id="stable-actions-list" refresh_url="{% url 'stable_actions_list' week=week.week_number %}">
{% for action in start_list %}
  {% if forloop.first %}<h3>Start Of Week</h3>{%endif%}
  {% include 'stablemanager/fragments/action_chit.html' %}
{% endfor %}

{% for action in inweek_list %}
  {% if forloop.first %}<h3>During Week</h3>{%endif%}
  {% include 'stablemanager/fragments/action_chit.html' %}
{% endfor %}

<div id="stable-actions-tally">Actions Spent {{ap_spent}} / {{ap_avail}}</div>

</div>

