<div id="stable-actions-list" refresh_url="{% url 'stable_actions_list' week=week.week_number %}">
{% for action in stableweek.actions.start_of_week %}
  {% if forloop.first %}<h3>Start Of Week - {{start_spent}} / {{start_avail}}</h3>{%endif%}
  {% include 'stablemanager/fragments/action_chit.html' %}
{% endfor %}

{% for action in stableweek.actions.in_week %}
  {% if forloop.first %}<h3>During Week - {{during_spent}} / {{during_avail}}</h3>{%endif%}
  {% include 'stablemanager/fragments/action_chit.html' %}
{% endfor %}

</div>

