<div class="action-chit">
  <div class="action-taken">
    <div class="action-name">{{action.action.action}}</div>
    <div class="action-notes">{{action.notes}}</div>
  </div>
  <div class="action-cost">{{action.cost}}</div>
  <div class="action-delete">
    {% if not action.is_locked %} 
      <input action_id="{{action.id}}" type="button" class="icon-button icon-delete icon-right" delete_url="{% url 'stable_delete_action' week=week.week_number pk=action.id %} " value="&#x2716;"/>
    {% endif %}
  </div>
</div>
