<div id="stable-action-management" refresh_url="{% url 'stable_actions_management' week=week.week_number %}">
 {% if stableweek.week_started %}
   <h3>Week In Progress</h3>
 {% else %}
   <h3>Start of Week</h3>
 {% endif %}
   <div class="two-panel">
     <table id="stable-action-assets" class="panel right-border">
       <tr>
         <td>Pilots</td>
         <td class="right">{{count_pilots}}</td>
       </tr><tr>
         <td>Non-Signature Mechs</td>
         <td class="right">{{count_mechs}}</td>
       </tr><tr class="total">
         <td>Total Assets</td>
         <td class="right">{{count_assets}}</td>
       </tr><tr>
     </table>
     <div class="panel">
     {% if not stableweek.week_started %}
       <span id="stable-actions-needed">
       {% if count_assets > 33 %}Too many assets, sell or auction some mechs to reduce your asset count or assign some mechs as Signature Mechs 
       {% elif count_assets > 28 %}An Exploded Management and an Expanded Management action is required
       {% elif count_assets > 25 %}An Exploded Management action is required
       {% elif count_assets > 18 %}An Expanded Management action is required 
       {% endif %}
       </span>
     {% endif %} 
     </div>
   </div>

 {% if stableweek.week_started %}
   <button id="stable-action-start" class="word-button" type="button" value="submit" action_url="{% url 'stable_start_week' week=week.week_number %}" start_week="False">Reset Week</button>       
 {% else %}
   <button id="stable-action-start" class="word-button" type="button" value="submit" action_url="{% url 'stable_start_week' week=week.week_number %}" start_week="True">Start Week</button>       
 {% endif %}
</div>
