{% load ledger %}
<tr class="ledger-item ledger-row ledger-item-edit" entry="{{entry.item.id}}" group="{{entry.item.type | lower}}">
  <td class="ledger-desc">
     <input type="submit" class="icon-button ledger-edit" Value="&#x270E;" class="submit" tabindex="{{submit_tab}}"/>
     {{entry.item.description}}
  </td>

  {% if entry.item.cost < 0 %}
    <td class="ledger-value ledger-negative">{{entry.item.cost}}</td>
  {% else %}
    <td class="ledger-value">{{entry.item.cost}}</td>
  {% endif %}
</tr>
