{% extends 'stablemanager/fragments/mech_chit.html' %}
{% block row_container_start %}
  <span class="chit-row{% if stablemech.cored or stablemech.removed %} mech-cored {% endif %}">
{% endblock %}

{% block mech_info %}
<div class="chit-section chit-section-left">
  <div class="chit-toprow mech-name{% if stablemech.cored or stablemech.removed %} mech-cored{% endif %}">
    {{mech.mech_name}} {{mech.mech_code}}
  </div>
  <div class="chit-bottom mech-desc">
    {% if stablemech.delivery = 1 %}On order, delivery next week.
    {% elif stablemech.delivery > 1 %}On order, delivery in {{stablemech.delivery}} weeks.
    {% elif stablemech.completed_bill_count == 1 %}Bill recorded.
    {% elif stablemech.completed_bill_count > 1 %}{{stablemech.completed_bill_count}} Bills recorded.{% endif %}
    {% if stablemech.cored %}Mech Cored.{% elif stablemech.removed %}Mech Removed.{% endif %}
  </div>
</div>
{% endblock %}

{% block mech_actions %}
<div class="chit-section chit-section-actions chit-section-right">
  {% if stablemech.delivery = 0 %}
    <a class="word-button" href="{{stablemech.repair_bill_url}}">Repair</a>
  {% else %}
    <span class="word-button no-button"></span>
  {% endif %}

  {% if mech.is_omni %}
    <span class="word-button loadout-button" form_url="{{stablemech.loadout_url}}">Loadouts</span>
  {% elif not stablemech.is_locked and stablemech.delivery = 0 %}
    <span class="word-button refit-button" form_url="{{stablemech.refit_url}}">Refit</span>
  {% else %}
    <span class="word-button no-button"></span>
  {% endif %}

  {% if not stablemech.is_locked %}
    <span class="word-button edit-button" mech_name="{{mech.mech_name}} {{mech.mech_code}}" form_url="{{stablemech.edit_url}}">Edit</span>
  {% else %}
    <span class="word-button no-button"></span>
  {% endif %}
</div>
{% endblock %}

{% block omni_config_list %}
   <div class="omni-list">
     <div class="omni-row omni-header">
       <span class="omni-column config-name">Loadout</span>
       <span class="omni-column config-description"></span>
       <span class="omni-column config-bv">BV</span>
     </div>
   {% for config in smw.loadouts.all %}
     <span class="omni-row omni-config">
       <span class="omni-column config-name">{{config.current_design.omni_loadout}}</span>
       <span class="omni-column config-description">{{config.current_design.omni_description}}</span>
       <span class="omni-column config-bv">{{config.current_design.bv_value}}</span>
     </span>
   {% endfor %}
   </div>
{% endblock %}


{% block row_container_end %}</span><span class="refit-panel"></span>{% endblock %}
