<ul id="stable-mech-list" class="stable-mech-list chit-list">
  {% for stablemech in stableweek.mechs.non_signature %}
    {% if forloop.first %}<h2>Stable Mechs</h2>{% endif %}
    {% if stablemech.is_visible %}
      {% include "stablemanager/fragments/mech_action_chit.html" with mech=stablemech.current_design smw=stablemech %}
    {% endif %}
  {% endfor %}

  {% for pw in stableweek.get_sigmech_pilots %}
  {% if forloop.first %}<h2>Signature Mechs</h2>{% endif %}
    <h3>{{pw.pilot}}</h3>
    {% for stablemech in pw.signature_mechs %} 
      {% if stablemech.is_visible %}
        {% include "stablemanager/fragments/mech_action_chit.html" with mech=stablemech.current_design smw=stablemech %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% for stablemech in stableweek.get_ownerless_sigmechs %}
  {% if forloop.first %}<h2>Ownerless Mechs</h2>{% endif %}
    {% if stablemech.is_visible %}
      {% include "stablemanager/fragments/mech_action_chit.html" with mech=stablemech.current_design smw=stablemech %}
    {% endif %}
  {% endfor %}

  {% for stablemech in stableweek.mechs.on_order %}
    {% if forloop.first %}<h2>On Order</h2>{% endif %}
    {% if stablemech.is_visible %}
      {% include "stablemanager/fragments/mech_action_chit.html" with mech=stablemech.current_design smw=stablemech %}
    {% endif %}
  {% endfor %}
</ul>
