<form action="{{post_url}}" method="POST" class="linedelete">
  <div class="ledger_delete"><input type="submit" Value="{{action}}" class="submit" tabindex="{{submit_tab}}"/></div>
  <div class="hidden">{{form.week}} {{form.id}}</div>
</form>