<form action="{{post_url}}" method="POST" class="ledger-item-delete">
  <span class="ledger-delete"><input type="submit" Value="{{action | safe}}" class="icon-button ledger-delete submit" tabindex="{{submit_tab}}"/></span>
  <span class="hidden">{{form.week}} {{form.id}}</span>
</form>
