<tr class="ledger-row ledger-add-form">
  <td class="ledger-desc">
    <input type="button" Value="{{action | safe}}" class="icon-button ledger-{{action_text | lower}} submit" tabindex="{{submit_tab}}"/>
    {{form.id}}
    {{form.type}}
    {{form.description}}
  </td>
  <td class="ledger-value">{{form.cost}}</td>
</tr>
