{% extends 'solaris_layout.tmpl' %}

{% block pageactions %}
  {% if perms.cms.post_news %}
    <ul class="actionbar">
      <li class="right"><a class="post" href="/postnews">Post News</a></li>
    </ul>
  {% endif %}
{% endblock %}

{% block pagebody %}
  {% for post in news %}
  <div class="news-item">
    <div class="header">
      <span class="title">{{post.title}}</span>
      <span class="byline">Posted by {% firstof post.poster.first_name post.poster.username %} on {{post.post_date}}</span>
    </div> <hr class="news-sep" />
    <div class="news-content">
      {{post.content.rendered | safe}}
    </div>
  </div>
  {% endfor %}
{% endblock %}
