{% extends 'solaris_layout.tmpl' %}
{% load markitup_tags %}

{% block pageheader %}
  {{ block.super }}
  {% markitup_media %}
{% endblock %}
 
{% block pagebody %}
<div class="body">
  <form action="/postnews" method="POST" class="newsform"> 
    {{ form.as_p | safe}}
    <p><input type="submit" Value="Post" class="submit"/></p>
  </form>
</div>
{% endblock %}
